# AB Testing
## Oleh : Febi Andika Dani Fajar Suryawan

## Studi Kasus
Suatu perusahaan memiliki sebuah website perusahaan. Suatu saat, perusahaan ingin mengetahui desain website mana yang lebih banyak mendapat kunjungan (Login) dan jumlah pembelian (Checkout). Diberikan data website perusahaan tersebut dengan dua desain web yang berbeda, yaitu desain A (Control) dan desain B (Treatment). Akan dicari desain manakah yang lebih baik jika dilihat dari banyaknya orang yang login dan checkout pada website perusahaan.

## Preparasi Data

In [34]:
# Memanggil library yang dibutuhkan
import pandas as pd
import numpy as np
from statsmodels.stats import weightstats as stats

In [35]:
# Memanggil dataset
ab_data=pd.read_csv('Datawebsite.csv',delimiter=';')
ab_data.head()

   Login  Checkout group
0    551       310     A
1    565       300     A
2    580       314     B
3    593       311     A
4    585       347     B

In [46]:
# Melihat ukuran data
ab_data.shape

(2000, 3)

In [36]:
# Memisahkan dataset menjadi dua berdasarkan desain website yang digunakan (A= Control, B= Treatment)
A_group = ab_data[ab_data['group'] == 'A']
B_group = ab_data[ab_data['group'] == 'B']

## Membandingkan antara control dengan treatment

Pada kasus membandingkan desain website perusahaan ini, akan dilakukan AB Test terhadap variabel Login dan Checkout dari data website perusahaan.

### Variabel Login

In [42]:
# Melakukan uji z terhadap data
ztest,pval1=stats.ztest(A_group['Login'],B_group['Login'],value=0,alternative='two-sided')

# Membuat penarikan kesimpulan
kesimpulan1='H0 ditolak'
kesimpulan2='H0 tidak ditolak'
kesimpulan= kesimpulan1 if pval1<0.05 else kesimpulan2

#Mengeluarkan hasil uji z
hasil=pd.DataFrame()
hasil['Data']=['A','B']
hasil['Mean']=[np.mean(A_group['Login']),np.mean(B_group['Login'])]
hasil['Std']=[np.std(A_group['Login']),np.std(B_group['Login'])]
hasil['Z score']=[ztest,'']
hasil['P-value']=[pval1,'']
hasil['Kesimpulan']=[kesimpulan,'']
hasil

  Data        Mean        Std Z score   P-value        Kesimpulan
0    A  575.388211  14.291809  1.4996  0.133719  H0 tidak ditolak
1    B  574.406496  14.948900

Perhatikan bahwa kesimpulan yang diperoleh adalah **H0 tidak ditolak**. Dapat dikatakan bahwa tidak ada perbedaan yang signifikan dari rata-rata banyaknya kunjungan (Login) antara control dan treatment.

### Variabel Checkout

In [43]:
# Melakukan uji z terhadap data
ztest2,pval2=stats.ztest(A_group['Checkout'],B_group['Checkout'],value=0,alternative='two-sided')

# Membuat penarikan kesimpulan
kesimpulan1='H0 ditolak'
kesimpulan2='H0 tidak ditolak'
kesimpulan= kesimpulan1 if pval1<0.05 else kesimpulan2

# Mengeluarkan hasil uji z
hasil1=pd.DataFrame()
hasil1['Data']=['A','B']
hasil1['Mean']=[np.mean(A_group['Checkout']),np.mean(B_group['Checkout'])]
hasil1['Std']=[np.std(A_group['Checkout']),np.std(B_group['Checkout'])]
hasil1['Z score']=[ztest2,'']
hasil1['P-value']=[pval2,'']
hasil1['Kesimpulan']=[kesimpulan,'']
hasil1

  Data        Mean        Std  Z score   P-value        Kesimpulan
0    A  324.653455  14.876758  0.49356  0.621617  H0 tidak ditolak
1    B  324.329724  14.441729

Perhatikan bahwa kesimpulan yang diperoleh adalah **H0 tidak ditolak**. Dapat dikatakan bahwa tidak ada perbedaan yang signifikan dari rata-rata banyaknya jumlah pembelian (Checkout) antara control dan treatment.

## Kesimpulan
Dari uji statistik yang dilakukan terhadap kedua variabel (variabel Login dan Checkout) pada data diperoleh kesimpulan :
1. Tidak ada perbedaan yang signifikan dari rata-rata antara control (group A) dan treatment (group B) untuk setiap variabel yang diuji.
2. Tidak adanya perbedaan yang signifikan dari kedua desain menyebabkan perusahaan dapat memilih desain mana yang akan digunakan untuk desain websitenya dengan memperhatikan dan mempertimbangkan operational cost dari penggunaan masing masing desain.